html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#search{
  padding-right:0px;
  border-width: 0px;
  margin-right:1em;
}

.list{
  border-top: 1px solid #e6e6e6;
  height: 2em;
  padding-left: 0px;
  padding-right:0px;
}

.body {
  display: flex;
  flex-direction: row;
  width:100vw;
  height:100vh;
}

#left-pane{
  overflow-wrap: normal;  
  overflow: scroll;  
  padding-right:0;
  padding-left:0;
  width: 25%;
  position: absolute;
  margin-top: 0.7em;
  margin-left: 0.7em;
  cursor: pointer;
}

#map {
  position: absolute;
  left:0;
  height: 100vh;
  padding-right:0;
  padding-left:0;
  
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.search-icon{
  border: none;
  align-items: center;
  margin-top: 0.4em;
  margin-left:0.4em;
  padding: 0px;
}

.icon{
  padding-left :0px ;
  padding-right :0px; 
}