html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

table{
    width: 100%;
    height: 100%;
}
th{
  height:2em;
}
#search{
  height:100%;
  width:100%;
  padding:0px;
  border-width: 0px;
}
td,table,th{
  border:1px solid black;
  font-size: 1em;
}
.body {
  display: flex;
  flex-direction: row;
  width:100%;
  height:100%;

}
#left-pane{
  position: absolute;
  width: 20%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: white;
  background-color: burlywood;
  overflow-wrap: normal;  
  overflow: scroll;  
}
#map {
  
  margin: 0;    
  left: 20%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width:80%;
  align-items: right;    
  overflow: scroll;
}